.calculator {
  width: 32vw;
  margin: 0 auto;
  background-color: #ad1e93;
  border: 1px solid #941E4F;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.calculator h1 {
  font-size: 2rem;
  color: #2f171f;
  margin-bottom: 0.5rem;
}

.calculator h2 {
  font-size: 1.2rem;
  color: #2f171f;
  margin-bottom: 2rem;
}

.name-inputs {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name-inputs input {
  width: 65%;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #941E4F;
  margin-bottom: 1rem;
}

.name-box {
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #941E4F;
  margin-right: 1%;
}

.buttons {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  background-color: #FF80AB;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons:hover {
  background-color: #FF5E8C;
}

.fa-heart,
.fa-heart-broken {
  margin-right: 0.5rem;
}

p {
  font-size: 1.2rem;
  color: #FF80AB;
  margin-bottom: 2rem;
}

footer {
  font-size: 0.9rem;
  color: #2f171f;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #FF80AB;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #FF5E8C;
}

footer p {
  color: #660224;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .calculator {
    width: 80vw;
  }  
}

@media screen and (max-width: 400px) {
  .calculator {
    width: 70vw;
  }  
}